$main-color: #415FD5;

.Input {
  border: 1px solid #D6DCE9;
  outline: none;
  width: 100%;
  border-radius: 4px;
  //margin-bottom: 12px;
  transition: all .4s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 100%;
    height: 100%;
    padding: 7px 15px 8px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #6879BB;

    &::placeholder {
      color: #CCCCCC;
    }
  }
  
  &:hover {
    color: $main-color;
    border: 1px solid $main-color;
    transition: all .4s ease;
  }

  &.error {
    border: 1px solid #EE4141;
  }

  // &:disabled {
  //   color: #333333;
  //   background: #F5F5F5;
  //   border: 1px solid #D6DCE9;
  //   cursor: not-allowed;
  // }
}

